.home {
	.main-banners {
		margin: 0 auto;
		img {
			width: 100%;
		}
		&__desktop {
			@include mq(md, max) {
				display: none;
			}
		}

		&__mobile {
			@include mq(md, min) {
				display: none;

			}

		}

		.slick-arrow {
			position: absolute;
			z-index: map-get($z-index, level-1);
			top: 47%;
			transform: translateX(-47%);
			padding: 0;
			border: 0;
			outline: 0;
			font-size: 0;
			background-color: transparent;
			cursor: pointer;

			@extend .sprite;
		}

		.slick-prev {
			left: 11px;
			@extend .sprite-slider-arrow-left;
		}

		.slick-next {
			right: 0;
			@extend .sprite-slider-arrow-rigth;
		}

		.slick-dots {
			display: flex !important;
			align-items: center;
			justify-content: center;
			margin: 0;
			position: absolute;
			z-index: map-get($z-index, level-1);
			width: 100%;
			left: 0;
			bottom: 16px;

			@include mq(md,max){
				bottom: 9px;
			}

			li {
				display: flex;
				margin: 0;
				margin: 0 4px;

				&.slick-active {
					button {
						width: 16px;
						height: 16px;
						background: transparent;
						border: 1px solid $color-white;
					}
				}
			}

			button {
				width: 10px;
				height: 10px;
				padding: 0;
				border: 0;
				outline: 0;
				background: $color-white;
			}
		}
	}




}