body.minhaConta {
	display: flex;
	min-height: 100vh;
	flex-direction: column;

	*{
		font-family: $font-family;
	}

	h1{
		border-bottom: 1px solid $color-gray;
		color: $color-black2;
		font-size: 30px;
		margin-bottom: 28px;
		padding: 24px 14px 16px;
		text-align: center;
	}
}

.minha-conta {
	padding: 0;
	flex: 1;

	@include mq(lg, max){
		max-width: 100%;
	}

	.container{
		@include mq(lg, max){
		max-width: 100%;
		}
	}

	.product-shelf{
		margin-top: 40px;
	}
}

%edit-link-btn {
	display: inline-block;
	padding: 8px 16px;
	margin-bottom: 6px;
	background-color: $color-pink;
	color: #fff;
}

%titulo {
	font-size: 1.2;
	margin: 8px 0;
}

.vtex-account__menu{
	padding-left: 0;
	padding-right: 15px;

	@include mq_range(sm, md){
		max-width: 200px;
	}

	@include mq(md, max){
		padding-right: 0;
		width: 100%;
	}
}

.bw1{
	border-width: 1px;
}

.accountUserProfile {
	h4 {
		@extend %titulo;
	}

	.edit-profile-link a {
		@extend %edit-link-btn;
	}

	.vtex-account .pv9-l {
		padding-top: 0;
	}

	.vtex-account__page {
		@include mq(md, max){
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
		width: 100%;
		}

		.vtex-pageHeader__container {
		.vtex-button span:first-child {
			//width: 100%;
			font-size: 14px;
			line-height: 28px;
			margin: 0 auto;
			margin-left: auto !important;
			display: inline;

			svg {
			margin-right: 5px;
			}
		}
	}
}

.vtex-account__page-body{
	margin-bottom: 50px;

	>div{
		@include mq(md, max){
			max-width: 100%;
			padding: 0;
		}
	}

	label.db.c-on-base.mb3{
		color: $color-black2;
		font-size: 14px;
		text-transform: uppercase;

		&+div.light.c-on-disabled{
			font-size: 16px;
		}
	}
}
}

.vtex-account__user-image{
	margin-right: 20px;

	.bg-action-primary{
		border-radius: 25px;
		font-weight: 500;
		min-width: 33px;
		outline: none;
		padding: 5px;
	}
}

.vtex-account__user-greeting{
	color: $color-pink;
	font-size: 0px;
	margin-bottom: 0;

	&::before{
		content: 'Olá!';
		display: inline-block;
		font-size: 22px;
		line-height: 22px;
	}
}

.vtex-account__user-name{
	color: $color-pink;
	display: none;
	overflow-x: hidden;
	text-overflow: ellipsis;
	max-width: 120px;
	font-size: 16px;
	font-weight: 400;
}

.vtex-pageHeader__container{
	padding-left: 0;
	padding-right: 0;

	.vtex-pageHeader__title{
		color: $color-black2;
		font-size: 24px;
		font-weight: normal;
		padding: 0 16px;
	}
}

.vtex-account__page-body{
	padding: 0;

	footer{
		background-color: $color-white2;
	}

	&.vtex-account__profile{
		main {

		@include mq(md, max){
			display: block;
		}

		>div{
			@include mq(md, max){
				padding-right: 0;
				width: 100%;
				}
			}

			.mb8{
				margin-bottom: 25px;

				label{
					color: $color-black3;
					font-size: 14px;
					text-transform: uppercase;

					& + div{
						font-size: 16px;
					}
				}
			}
		}
	}
}

.accountAddress {
	h4 {
		@extend %titulo;
	}
	.new-address-link {
		border-bottom: solid 1px $color-gray;
		a {
		@extend %edit-link-btn;
		}
	}
	.edit-address-link a {
		@extend %edit-link-btn;
	}

	.address-display {
		div {
		display: inline-block;
		border: solid 1px $color-gray;
		padding: 8px 16px;
		margin-bottom: 4px;
		width: 350px;
		max-width: 90%;
		}
	}
}

#address-edit {
	width: 400px;
}

.modal {
	font-size: 14px;
	h5 {
		font-size: 1.2em;
		margin: 0;
		padding-bottom: 8px;
	}

	input[type="submit"] {
		background-color: #00a65a;
		border-color: #00a65a;
		margin-right: 10px;
		margin-top: 1px;
	}

	#accountAjaxBusy {
		display: none;
	}

	button.btn-link {
		background-color: $color-gray3;
		color: #fff;
	}

	input[type="submit"],
	button.btn-link {
		font-weight: normal;
		font-size: 14px;
		border: solid 1px;
		text-transform: none;
	}

	.control-group {
		padding: 8px 4px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.controls,
		label,
		label + input {
			display: inline-block;
		}
		label {
			margin-right: 16px;
		}
		input,
		button,
		select {
			padding: 4px 8px;
			border: solid 1px #bbbe;
			line-height: 1;
		}
		.radio {
			input[type="radio"] {
				display: inline-block;
				margin: 3px 8px;
				vertical-align: bottom;
			}
		}
	}
}

.btn-primary:active:focus {
	background-color: $color-green4;
	border-color: $color-green4;
	margin-right: 10px;
	margin-top: 1px;
}

body .accountUserProfile .render-container {
	width: 100%;

	.vtex-button {
		border: none;
		color: $color-white;
		cursor: pointer;
		font-weight: 300;
		min-height: 36px;
		outline: none;
		transition: all 0.15s ease-in-out;
	}

	.c-action-primary,
	.blue {
		color: $color-pink;
		font-weight: 300;
		font-size: 16px;
		transition: all 0.15s ease-in-out;
	}

	.bg-action-primary {
		background-color: $color-pink;
		right: -14px;
	}

	.vtex-account_menu-link{
		border-left: 4px solid transparent;
		padding: 8px 0 8px 8px;
		position: relative;
		text-decoration: underline;

		&.b--action-primary{
			border-color: $color-pink;
		}
	}
}

.accountUserProfile .vtex-account__page .vtex-address-form__postalCode button {
	border-radius: 0;
	margin-top: 8px;
	margin-left: 5px;
	outline: none;
	text-decoration: underline;
	transition: all 0.15s ease-in-out;
}

.overflow-y-scroll{
	overflow-y: auto;
}

.vtex-modal__modal{
	.c-action-primary{
		color: $color-pink;
	}

	.b--action-primary{
		border-color: $color-pink;
	}

	.bg-action-primary{
		background-color: $color-pink;
	}
}
