.footer-newsletter {

	background: $light-pink;


	@include mq(lg, max) {
		padding: 24px 0;
	}

	@include mq(md, min) {
		padding: 24px 15px;
	}


	&__wrapper {
		@include mq(md, min) {
			max-width: 698px;
			margin: 0 auto;
		}

		@include mq(md, max) {
			margin: 0 14px;
		}
	}

	&__title {
		font-size: 10px;
		line-height: 12px;
		letter-spacing: 0.15em;
		color: $color-white;
		max-width: 152px;
		margin: 0 0 10px;

		@include mq(lg, max) {
			margin-bottom: 13px;
			max-width: 193px;
		}
	}

	.m3-custom-newsletter-form {
		display: flex;
		position: relative;

		@include mq(lg, max) {
			flex-direction: column;
		}

		@include mq(lg, min) {
			align-items: center;
		}

	}

	fieldset {
		flex: 1;
		padding: 0;
		margin: 0;

		@include mq(lg, max) {
			margin-bottom: 8px;
		}

		@include mq(lg, min) {
			margin-right: 16px;
		}

		label {
			display: none;
		}

		&:last-of-type {
			margin: 0;
		}

		&.m3-cn-button-ok-container {

			@include mq(lg, min) {
				max-width: 126px;
			}
		}

		input {
			width: 100%;
			background: $color-white;
			padding: 0 16px;
			height: 34px;
			outline: 0;
			border: 0;
			font-size: 10px;
			line-height: 12px;

			@include mq(lg, max) {
				margin-bottom: 8px;
				height: 54px;
			}

			&::placeholder {
				text-transform: uppercase;
				color: $dark-grey;
				font-size: 10px;
				line-height: 12px;
			}

			&.m3-cn-button-ok {
				background: $color-black;
				color: $color-white;
				font-weight: $font-weight-exheavy;
				cursor: pointer;
				width: 100%;

				@include mq(lg, max) {
					&:active {
						background: lighten($color-black, 10);
					}
				}

				@include mq(lg, min) {
					&:hover {
						background: lighten($color-black, 10);
					}

					&:active {
						background: $color-black;
					}
				}
			}
		}


	}

	.m3-cn-msg {
		position: absolute;
		top: calc(100% + 8px);
		left: 50%;
		transform: translateX(-50%);
		line-height: 1;
		text-transform: uppercase;
		width: max-content;

		.m3-cn-error {
			color: $light-red;
			font-weight: $font-weight-heavy;
		}
	}
}