.flags-product {
	position: absolute;
	top: 0;
	left: 0;
	z-index: map-get($z-index, level-2);
	padding: 8px;

	.flag {
		display: none;
		font-size: 10px;
		line-height: 12px;
		text-transform: uppercase;
		margin: 0 0 8px;
		min-width: 54px;
		max-width: max-content;
		height: 20px;

		&.novo,
		&.produto-off {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&.novo {
			background: $ligth-blue;
			color: $color-white;
			font-weight: $font-weight-heavy;
		}

		&.produto-off {
			background: $light-pink;
			font-weight: $font-weight-exheavy;
			color: $color-white;
		}

	}
}