.footer-links {

	@include mq(md, min) {
		padding: 29px 0 25px;
		border-bottom: 1px solid $grey;
	}

	&__wrapper {
		display: grid;
		grid-template-columns: repeat(3, max-content);
		gap: 148px;
		justify-content: center;

		@include mq(md, max) {
			grid-template-columns: 1fr;
			gap: 0;
		}
	}

	&__column {
		@include mq(md, max) {
			padding: 24px 15px;
			border-bottom: 1px solid $grey;
		}
	}

	&__title {
		font-size: 10px;
		line-height: 12px;
		font-weight: $font-weight-heavy;
		color: $dark-grey;
		margin-bottom: 7px;
	}

	&__items-list {
		margin: 0;

		&--social-newtworks {
			display: grid;
			grid-auto-flow: column;
			grid-auto-columns: max-content;
			gap: 16px;
			align-items: center;
		}
	}

	&__item {

		font-size: 10px;
		line-height: 12px;
	}

	&__link {
		color: $color-black;
		padding: 10px 0;
		transition: color .2s linear;

		@include mq(lg, min) {
			&:hover {
				color: $ligth-blue;
			}
		}
	}
}