.page-header {
	background: $color-white;
	padding: 7px 0;

	&__wrapper {
		display: grid;
		grid-template-columns: 2fr 1fr 2fr;
		align-items: center;
	}

	&__logo {
		margin: 0 auto;
		font-size: 60px;
		line-height: 92px;
		font-weight: font-weight-regular;
		color: $color-black;
	}

	.user-items {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin: 0;
		padding: 0;

		.busca {
			display: flex;
			align-items: center;
			flex: 1;
			max-width: 212px;
			border-bottom: 1px solid $color-black;
			padding: 8px 0px;

			legend,
			label,
			select {
				display: none;
			}

			.fulltext-search-box {
				flex: 1;
				height: 23px;
				background: transparent;
				outline: 0;
				color: $color-black;
				border: 0;
				padding: 0;
				font-size: 10px;
				line-height: 12px;
				font-weight: $font-weight-regular;
				text-transform: uppercase;
			}

			.btn-buscar {
				width: 23px;
				height: 23px;
				padding: 0;
				border: 0;
				outline: 0;
				font-size: 0;
				background-color: transparent;

				@extend .sprite;
				@extend .sprite-search-icon;
			}
		}

		&__account-link {
			display: flex;
			align-items: center;

			&::before,
			&::after {
				content: '';
				width: 1px;
				height: 19px;
				background: $color-black;
				display: block;
				margin: 0 24px;
			}
		}

		&__minicart-button {
			position: relative;
			background: transparent;
			padding: 0;
			border: 0;
			outline: 0;

			.portal-totalizers-ref {

				.title,
				.amount-products,
				.amount-items strong {
					display: none;
				}

				.amount-kits,
				.total-cart {
					display: none;

				}
			}

			.cart-info {
				margin: 0;
			}

			.amount-items-em {
				font-weight: $font-weight-heavy;
				font-size: 9px;
				line-height: 11px;
				background: $ligth-blue;
				width: 15px;
				height: 15px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 50%;
				color: $color-white;
				position: absolute;
				top: 4px;
				right: -4px;
			}
		}
	}
}