.page-header {
	background: $color-white;
	padding: 7px 0;
	position: relative;

	@include mq(lg, max) {
		padding: 11px 0 0;
	}

	&__wrapper {
		display: grid;
		grid-template-columns: 2fr 1fr 2fr;
		align-items: center;

		@include mq(lg, max) {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	&__logo {
		margin: 0 auto;
		font-size: 3rem;
		line-height: 92px;
		font-weight: font-weight-regular;
		color: $color-black;

		@include mq(lg, max) {
			font-size: 2rem;
			line-height: 58px;
		}
	}

	.user-items {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin: 0;
		padding: 0;

		&__search-box {
			flex: 1;
			max-width: 212px;

			@include mq(lg, max) {
				display: none;
			}

			.busca {
				padding: 8px 0;
				border-bottom: 1px solid $color-black;
			}
		}


		&__account-link {
			display: flex;
			align-items: center;

			&::before,
			&::after {
				content: "";
				width: 1px;
				height: 19px;
				background: $color-black;
				margin: 24px;

				@include mq(lg, max) {
					margin: 0 16px;
				}
			}

			&::before {
				@include mq(lg, max) {
					display: none;
				}
			}
		}

		&__minicart-button {
			position: relative;
			background: transparent;
			padding: 0;
			border: 0;
			outline: 0;

			.portal-totalizers-ref {

				.title,
				.amount-products,
				.amount-items strong {
					display: none;
				}

				.amount-kits,
				.total-cart {
					display: none;
				}
			}

			.cart-info {
				margin: 0;
			}

			.amount-items-em {
				font-weight: $font-weight-heavy;
				font-size: 9px;
				line-height: 11px;
				background: $ligth-blue;
				width: 15px;
				height: 15px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 50%;
				color: $color-white;
				position: absolute;
				top: 4px;
				right: -4px;
			}
		}

	}
	&__search-box {
		border-top: 1px solid $ligth-grey;
		padding: 13px 0;

		@include mq(lg, min) {
			display: none;
		}
	}
}